.admin-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 80vh 70vh;

  gap: 30px 20px;
  padding: 100px 30px;
  background: var(--background-2);

  & .page-title {
    grid-column: 1/-1;
    text-align: left;
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-3);
  }

  & .sections {
    grid-column: 1/-1;
    display: flex;
    gap: 10px;
    list-style: none;

    & li {
      display: flex;
      align-items: center;
      padding: 5px 8px;
      cursor: pointer;
      gap: 5px;
      border-radius: 15px;
      box-shadow: var(--box-shadow);
      background: var(--background);
      color: var(--text-2);
      transition: all 0.3s ease-in-out;
    }

    & li:hover {
      transform: scale(1.05);
    }
  }

  & .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 30px;
    justify-content: left;

    .product-card:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }

  & .chart-container {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    background: var(--background);
    padding: 15px 10px 80px 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }
}

@media (max-width: 768px) {
  .admin-page {
    grid-template-columns: 1fr;
  }
}
