.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.carrito {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  min-height: 30vh;
  max-height: 90vh;
  min-width: 70vw;
  padding: 10px;
  background-color: var(--section);
  border: 1px solid var(--text-1);
  border-radius: 10px;
  position: relative;

  & h2 {
    font-size: 1.3rem;
  }

  & .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    outline: none;
    transition: all 0.2s ease-in-out;
    color: var(--hover);
  }

  & .close-button:hover {
    background-color: var(--hover);
  }

  & .empty-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
  }
}

.cart-product {
  min-height: 100px;
  display: flex;
  border-top: 1px solid var(--hover);

  & .product-img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
  }

  & .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;

    span {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      font-weight: 600;
    }

    & footer {
      display: flex;
      gap: 10px;
      align-items: center;

      & .quantity {
        height: 20px;
        max-width: 80px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(3, 25px);
        align-items: center;
        justify-items: center;

        background: var(--section);
        border: 1px solid;
      }

      button {
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
        color: var(--text-1);
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
