.carrito-page {
  padding: 120px 60px 60px 60px;
  background: var(--background-2);
}

.cart {
  display: flex;
  height: 80vh;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  & header {
    padding: 15px 10px;
    border-bottom: 1px solid var(--border);
    & h2 {
      color: var(--text-3);
      font-size: 1.3rem;
    }
  }

  & .products-container {
    padding: 0 10px;
    height: 100%;
    overflow-y: scroll;

    & .empty-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 1rem;
    }
  }

  & .cart-footer {
    padding: 10px;

    & span {
      color: var(--tex-2);
      display: flex;
      justify-content: space-between;
    }

    & .cart-info {
      color: var(--text-2);
      font-size: 0.7rem;
      font-weight: 600;
    }

    & .cart-info.total {
      border-top: 1px solid var(--border);
      margin-top: 10px;
      padding: 10px 0;
      font-size: 0.9rem;
      color: var(--text-3);
    }

    & .btn-purchase {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0 10px;
      height: 45px;
      border: none;
      font-size: 0.9rem;
      border-radius: 10px;
      cursor: pointer;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
      color: var(--text-1);
      background-color: var(--section);
    }
  }
}
