.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
  padding: 0 20px;
  height: 10vh;
  color: var(--text-1);
  fill: var(--text-1);
  background: transparent;
}

.main-header.dark-theme {
  background: var(--background);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.main-header.dark-theme,
.main-header.dark-theme a {
  color: var(--text-2);
}

.main-header.dark-theme .logo {
  fill: var(--text-3);
  transition: 0.5s ease-in;
}

.main-header.dark-theme .logo:hover,
.main-header.dark-theme a:hover {
  fill: var(--background-2);
  color: var(--background-2);
}

.main-header .burger-container {
  cursor: pointer;
}

.main-header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.main-header ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;

  a {
    font-size: 3vh;
    text-decoration: none;
    color: var(--text-1);
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  a:hover {
    color: var(--hover);
  }
}

@media (max-width: 550px) {
  .main-header nav {
    display: none;
  }
}
