.main-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
  padding: 0 20px;
  height: 10vh;
  color: var(--text-1);
  background: transparent;
}

.main-header .burguer-container {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.main-header .logo {
  & img {
    width: 80px;
    height: 80px;
  }
}

.main-header nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: end;
}

.main-header ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

& a {
  font-size: 3vh;
  text-decoration: none;
  color: var(--text-1);
}

& a:hover {
  color: var(--hover);
  transition: 0.3s ease-in;
  cursor: pointer;
}
