.home-page {
  background: var(--section);
  color: var(--text-1);

  & h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
  }
}

.home-page .first-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  & .background {
    height: 80vh;
    background: url("../img/main.png") center center no-repeat;
    background-size: cover;
    box-shadow: inset 0 -60px 60px -10px var(--section);
  }

  & footer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    gap: 30px;
    padding: 0 50px;

    & h1 {
      font-size: clamp(0.7rem, 14vw, 4rem);
      font-family: "Josefin Sans", sans-serif;
      font-weight: 500;
    }

    & .btn-productos {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 5px 10px;

      border: none;
      font-size: 1rem;
      border-radius: 10px;
      cursor: pointer;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 500;
      color: var(--text-3);
      background-color: var(--background);
      transition: 0.3s ease-in-out;
    }

    & .btn-productos:hover {
      transform: scale(102%);
    }
  }
}

.home-page .categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 70px 50px 70px;
  gap: 50px;

  & .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    text-align: center;

    & .category {
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h3 {
        font-family: "Josefin Sans", sans-serif;
      }

      & p {
        font-size: 0.8rem;
        color: var(--text-2);
      }
    }
  }
}

.home-page .about {
  display: flex;
  flex-direction: column;
  & .image {
    width: 100%;
    height: 400px;
    max-height: 500px;
    background: url("../img/voley.png") center center no-repeat;
    background-size: contain;
  }

  & article {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & p {
      max-width: 800px;
      font-size: 1rem;
      color: var(--text-2);
      margin-bottom: 50px;
    }
  }
}

.camping {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & .img {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 500px;
    background: var(--section);
    background: url("../img/campfire-background.png") center center no-repeat;
    background-size: cover;
    filter: opacity(40%);
  }

  & .campfire {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
    background: url("../img/campfire.gif") center center no-repeat;
    background-size: cover;
    filter: drop-shadow(20px 20px 5px #f18100ad);
  }
}
