.menu-modal {
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--section);
  color: var(--text-1);
  animation: fadeIn 0.3s forwards;

  & .close-btn {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    outline: none;
    transition: 0.5 ease-in;
    color: var(--text-1);
  }

  & h1 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & li {
      font-size: 1.2rem;
    }

    & li:hover {
      color: var(--hover);
      transform: scale(102%);
      transition: 0.3s ease-in;
      cursor: pointer;
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
