.products-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 60px;
  gap: 40px;

  & h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-3);
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 30px;
  justify-content: left;

  & .product-card {
    max-width: 250px;
    border: 1px solid var(--hover);
    max-height: 450px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;

    & .product-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 90% 90%;
      height: 200px;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    & section {
      padding: 15px 10px;

      & h3 {
        font-size: 1.3rem;
      }

      & .product-description {
        font-size: 0.8rem;
        color: var(--text-3);
      }
    }

    & footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 10px 10px;

      & .product-price {
        font-size: 1.3rem;
      }

      & .btn-add {
        display: flex;
        align-items: center;
        background: var(--section);
        color: var(--text-1);
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .product-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}
