.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  border: 1px solid var(--border);
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in;

  & .btn-delete {
    display: grid;
    place-content: center;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  & .btn-delete:hover {
    background-color: var(--hover);
  }

  & section {
    padding: 15px 10px;

    & h3 {
      height: 55px;
      font-size: 1.3rem;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .product-description {
      height: 50px;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      font-size: 0.8rem;
      color: var(--text-2);
    }
  }

  & footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;

    & .product-price {
      font-size: 1.3rem;
    }

    & .btn-add {
      display: flex;
      align-items: center;
      background: var(--section);
      color: var(--text-1);
      padding: 5px;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
