.purchase-card {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  background: var(--background);
  box-shadow: var(--box-shadow);
  border-radius: 10px;

  header {
    padding: 10px 0;
    color: var(--text-2);
    font-size: 0.9rem;
  }

  & .purchase-product {
    min-height: 150px;
    max-height: 150px;
    display: flex;
    padding: 10px 0;
    border-top: 1px solid var(--border);

    & .product-img {
      min-width: 125px;
      height: auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    & .purchase-info {
      & .estado {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--text-2);
      }

      & .estado.entregado {
        color: var(--success);
      }

      & h3 {
        max-height: 48px;
        overflow: hidden;
      }

      & .description {
        max-height: 36px;
        overflow: hidden;
      }

      & .description,
      footer {
        font-size: 0.9rem;
        color: var(--text-2);
      }
    }

    & footer {
      display: flex;
      gap: 10px;
      padding-top: 10px;
    }
  }
}
