.table {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--background);
  border-radius: 10px;
  position: relative;
  box-shadow: var(--box-shadow);
  padding: 15px 10px;

  & .table-content {
    margin-top: 15px;

    & th {
      text-align: left;
    }

    & tr {
      display: grid;
      gap: 10px;
      color: var(--text-2);
      padding: 5px 0;
      border-bottom: 1px solid var(--border);
      transition: 0.1s ease;
    }

    & tbody tr:hover {
      cursor: pointer;
      background: var(--hover);
    }

    & tr.product {
      grid-template-columns: 0.5fr 0.5fr 3fr 1fr 0.5fr 0.2fr 0.2fr;

      & img {
        width: 25px;
        height: 25px;
      }
    }

    & tr.sale {
      grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.2fr;

      & .estado {
        font-weight: 600;
        color: var(--text-2);
      }

      & .estado.entregado {
        color: var(--success);
      }
    }

    & tr.sale_detail {
      grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr;
    }
  }
}
