@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap");
:root {
  --background: #ffffff;
  --background-2: #e8e8e8;
  --section: #070707;
  --text-1: #ffffff;
  --text-2: #969696;
  --text-3: #090909;
  --border: #e8e8e8;
  --hover: #e3e6f07a;
  --success: #10be41;
  --alert: #e50707;
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --font-sz: clamp();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

body {
  min-height: 100vh;
  color: var(--text-3);
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}
