@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap");
:root {
  --background: #ffffff;
  --section: #070707;
  --text-1: #ffffff;
  --text-2: #969696;
  --text-3: #090909;
  --border: #efefef;
  --hover: #e3e6f07a;
  --alert: #e50707;

  --font-sz: clamp();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

body {
  min-height: 100vh;
  color: var(--text-3);
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}
