@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap");
:root {
  --background: #ffffff;
  --section: #070707;
  --text-1: #ffffff;
  --text-2: #9b9b9b;
  --text-3: #212529;
  --border: #b8b8b8;
  --hover: #808080;
  --alert: #d00000;

  --font-sz: clamp();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

main {
  min-height: 100vh;
}
